{#{% block content %}#}
{#  <h1>Break List</h1>#}
{#  {% if break_list_context %}#}
{#    <ul>#}
{#      {% for break in break_list_context %}#}
{#      <li>#}
{#        <b>{{ break.activity }}</b>#}
{#        ({{break.start_time}})#}
{#      </li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  {% else %}#}
{#    <p>No Breaks available.</p>#}
{#  {% endif %}#}
{#{% endblock %}#}



{% block content %}
  <h1>Break List</h1>
  {% if break_list_context %}
    <table>
        <tr>
            <th>Aktivität</th>
            <th>Ort</th>
            <th>Erholungsgrad</th>
            <th>Anfangszeitpunkt</th>
            <th>Endzeitpunkt</th>
        </tr>

        {% for break in break_list_context %}
        <tr>
            <td>{{ break.activity }}</td>
            <td>{{ break.place }}</td>
            <td>{{ break.recreation }}</td>
            <td>{{ break.start_time }}</td>
            <td>{{ break.end_time }}</td>
        </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>Keine Pausen gefunden.</p>
  {% endif %}
{% endblock %}

