{% load filters %}
{% load static %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            {#    Komische Lösung an dieser Stelle, da wir uns nur auf ersten Dateneintrag beziehen#}
            {% for key in data.0.keys %}
                <th>{{ key|filter_keys }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>

        {% for entry in data %}
            <tr>
                {% for value in entry.values %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td><a href="{{ entry.id }}/update">
                    <img
                            src="{% static "pencil-fill.svg" %}"
                            alt="pencil"
                            height="16"
                            width="16"/></a>
                    <a href="{{ entry.id }}/delete">
                        <img
                                src="{% static "trash3-fill.svg" %}"
                                alt="trash"
                                height="16"
                                width="16"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>